.checkoutProduct {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkoutProduct > img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.checkoutProduct__info {
  padding: 10px 0 0 20px;
  width: 100%;
}

.checkoutProduct__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 95%; */
}

.checkoutProduct__title, .checkoutProduct__price {
  font-size: 18px;
  font-weight: 400;
}

.checkoutProduct__price {
  font-weight: 800;
}

.checkoutProduct__rating {
  margin: -5px 0 30px 0;
}

.checkoutProduct__info > button {
  color: #5656fc;
  font-weight: 400;
  letter-spacing: .06em;
  border: none;
  background: none;
}

.checkoutProduct__info > button:hover {
  color: #0000ff;
}
